.root {
  height: 120px;
  overflow: hidden;
  overflow-y: scroll;

  .todo_content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .todo_text {
      display: inline-block;
    }
  }
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_content {
    background: #fff;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
